<!DOCTYPE html>
<html>
  <body>
    <div class="div1"  align="center"> 
      <img src="http://i.imgur.com/vD3cp.jpg" height=100% width=100%>
      <div class="div6"> 
      		<%= form_for(@user) do |f| %>
  			<%= f.email_field :email, placeholder: "Email" %><%= f.submit "Let's Go!", :class => "button", :style => "font-size:1.6em"%>
  			<% end %>
  	  </div>
  
  
    </div> 
    <div class="div2" align="center">	
      	<div class="container">
      		<h2 align="left"> How we make you happy</h2>      	
      		<div class="row">
      			<div class="span4">
      				<h3> You Order </h3>
      				<h4> what you like </h4>      			
      				<img src="http://i.imgur.com/zh3iG.png" style="position:relative;top:24px;">      				
      			</div>
      	      	<div class="span4">
      				<h3> We Ship </h3>
      				<h4> to your door, free </h4>
      				<img src="http://i.imgur.com/nd5yb.png">      				
      			</div>
      			<div class="span4">
      				<h3> You Buy </h3>
      				<h4> only what you want</h4>
      				<img src="http://i.imgur.com/6wLgr.png">      				
      			</div>
      		</div>
      		<div class="row">
      			<div class="span4">
      				<p> <b>Subscribe to our club and have us order for you <i>or</i> just pick and choose what you want from our online store!</b> </p>
      			</div>
      			<div class="span4">
					<p><b>Free shipping, free returns. Think of it as a no hassle, no risk way to shop!</b></p>
				</div>
				<div class="span4">
					<p><b> Try what you buy. After a week, return what you don't want and buy the things you love. It's <i> that </i> simple!</b> </p>
				</div>
      	</div>
	</div>
	<div class="div3" align="center">
		<div class="div4" align="center">
			<h2 align="center"> What are you getting</h2>      
			<h3 align="center"> Like we said...stuff you love! </h3>
			<div class="container">
			<ul class="thumbnails">
			  <li class="span4">
			    <a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/wT3Ap.jpg" class="img-polaroid" alt="">
			    </a>
			  </li>
			  <li class="span4">
			  	<a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/pJNHC.jpg" alt="">
			    </a>
			  </li>
			  <li class="span4">
			  	<a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/N4fOH.jpg" alt="">
			    </a>
			  </li>
			  <li class="span4">
			  	<a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/pPIv3.png" alt="">
			    </a>
			  </li>
			  <li class="span4">
			  	<a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/Rx1hp.png" alt="">
			    </a>
			  </li>
			  <li class="span4">
			  	<a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/68Xbp.png" alt="">
			    </a>
			  </li>



			</ul>
		</div>
		

			</div>

       
	</div>
	  </div>
  </body>
</html>
