<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="div1"  align="center"> 
      <img src="http://i.imgur.com/vD3cp.jpg" height=100% width=100%>
    </div> 
    <div class="div2" align="center">	
      	<div class="container">
      		<h2 align="left"> How we make you happy</h2>      	
      		<div class="row">
      			<div class="span4">
      				<h3> You Order </h3>
      				<h4> what you like </h4>      			
      				<img src="http://i.imgur.com/zh3iG.png" style="position:relative;top:24px;">      				
      			</div>
      	      	<div class="span4">
      				<h3> We Ship </h3>
      				<h4> to your door, free </h4>
      				<img src="http://i.imgur.com/nd5yb.png">      				
      			</div>
      			<div class="span4">
      				<h3> You Buy </h3>
      				<h4> only what you want</h4>
      				<img src="http://i.imgur.com/6wLgr.png">      				
      			</div>
      		</div>
      		<div class="row">
      			<div class="span4">
      				<p> Subscribe to our club and have us order for you <i>or</i> just pick and choose what you want from our online store! </p>
      			</div>
      			<div class="span4">
					<p> Free shipping, free returns. Think of it as a no hassle, no risk way to shop!</p>
				</div>
				<div class="span4">
					<p> Try what you buy. After a week, return what you don't want and buy the things you love. It's <i> that </i> simple! </p>
				</div>
      	</div>
	</div>
	<div class="div3" align="center">
		<div class="container">
		<h2> What are you getting</h2>      
		<h3> Like we said...stuff you love! </h3>
		<ul class="thumbnails">
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <img src="http://storage.diesel.com/assets/collection/diesel/timeframes/DZ4254_zoom.jpg" class="img-polaroid" alt="">
		    </a>
		  </li>
		  <li class="span4">
		  	<a href="#" class="thumbnail">
		      <img src="http://www.coolgiftsforguys.net/wp-content/uploads/2010/11/Syma-S107-Remote-Controlled-Helicopter.jpg" alt="">
		    </a>
		  </li>
		  <li class="span4">
		  	<a href="#" class="thumbnail">
		      <img src="http://ecx.images-amazon.com/images/I/91D869LqJJL._SL1500_.jpg" alt="">
		    </a>
		  </li>
		  


		</ul>

		

			</div>

       
	</div>
	  </div>
  </body>
</html>
