<!DOCTYPE html>
<html>
  <head>
    <title> Curatify </title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag  "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:40px">
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="height:45px">
        <div class="container">
            <img src="http://i.imgur.com/RM76F.png" width="175px">
        </div>
      </div>
    </header>
      <%= yield %>
  </body>
</html>